.background {
  fill: #eee;
}
line {
  stroke: #fff;
}
text.active {
  fill: #f00;
}
#order {
  padding-left: 10px;
}
html {
  min-width: 1040px;
}
body {
  background: #fcfcfa;
  color: #333;
  font-family: "PT Serif", serif;
  margin: 1em auto 4em auto;
  position: relative;
  width: 1200px;
}
header,
footer,
h1,
h2,
h3,
h4,
aside {
  color: #000;
  font-family: "PT Sans", sans-serif;
}
h1 {
  font-size: 64px;
  font-weight: 300;
  letter-spacing: -2px;
  margin: 0.3em 0 0.1em 0;
}
h2 {
  margin-top: 2em;
}
h1,
h2 {
  text-rendering: optimizeLegibility;
}
h2 a {
  color: #ccc;
  left: -20px;
  position: absolute;
  width: 740px;
}
footer {
  font-size: small;
  margin-top: 8em;
}
header aside {
  margin-top: 88px;
}
header aside,
footer aside {
  color: #636363;
  text-align: right;
}
aside {
  font-size: small;
  right: 0;
  position: absolute;
  width: 180px;
}
.attribution {
  font-size: small;
  margin-bottom: 2em;
}
body > p,
li > p {
  line-height: 1.5em;
}
body > p {
  width: 720px;
}
body > blockquote {
  width: 640px;
}
blockquote q {
  display: block;
  font-style: oblique;
}
li {
  width: 680px;
}
a {
  color: #4682b4;
}
a:not(:hover) {
  text-decoration: none;
}
pre,
code,
textarea {
  font-family: "Menlo", monospace;
}
code {
  line-height: 1em;
}
textarea {
  font-size: 100%;
}
body > pre {
  border-left: solid 2px #ccc;
  padding-left: 18px;
  margin: 2em 0 2em -20px;
}
.html .value,
.javascript .string,
.javascript .regexp {
  color: #756bb1;
}
.html .tag,
.css .tag,
.javascript .keyword {
  color: #3182bd;
}
.comment {
  color: #636363;
}
.html .doctype,
.javascript .number {
  color: #31a354;
}
.html .attribute,
.css .attribute,
.javascript .class,
.javascript .special {
  color: #e6550d;
}
svg {
  font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
sup,
sub {
  line-height: 0;
}
q:before {
  content: "“";
}
q:after {
  content: "”";
}
blockquote:before {
  position: absolute;
  left: 2em;
}
blockquote:after {
  position: absolute;
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url("http://themes.googleusercontent.com/static/fonts/ptsans/v5/7YGmE4Ls5b94ct65u07hVQLUuEpTyoUstqEm5AMlJo4.woff") format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url("http://themes.googleusercontent.com/static/fonts/ptsans/v5/0XxGQsSc1g4rdRdjJKZrNL3hpw3pgy2gAi-Ip7WPMi0.woff") format('woff');
}
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif-Regular'), url("http://themes.googleusercontent.com/static/fonts/ptserif/v5/sDRi4fY9bOiJUbgq53yZCXYhjbSpvc47ee6xR_80Hnw.woff") format('woff');
}
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: local('PT Serif Bold'), local('PTSerif-Bold'), url("http://themes.googleusercontent.com/static/fonts/ptserif/v5/QABk9IxT-LFTJ_dQzv7xpLrIa-7acMAeDBVuclsi6Gc.woff") format('woff');
}
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 400;
  src: local('PT Serif Italic'), local('PTSerif-Italic'), url("http://themes.googleusercontent.com/static/fonts/ptserif/v5/03aPdn7fFF3H6ngCgAlQzL3hpw3pgy2gAi-Ip7WPMi0.woff") format('woff');
}
