body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#vis {
  margin-left: auto;
  margin-right: auto;
}
#playerSelection {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
#container {
  text-align: center;
}
#container h1 {
  padding-bottom: 20px;
}
#footer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  font-size: small;
}
#leftSelect {
  float: left;
}
#rightSelect {
  float: right;
}
